@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(251, 250, 244);
  --foreground: rgb(65, 59, 37);
  --card: rgb(251, 250, 244);
  --card-foreground: rgb(26, 26, 25);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(43, 40, 24);
  --primary: rgb(228, 87, 39);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(236, 231, 217);
  --secondary-foreground: rgb(86, 83, 67);
  --muted: rgb(240, 234, 219);
  --muted-foreground: rgb(132, 131, 124);
  --accent: rgb(236, 231, 217);
  --accent-foreground: rgb(43, 40, 24);
  --destructive: rgb(26, 26, 25);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(219, 218, 211);
  --input: rgb(183, 180, 164);
  --ring: rgb(228, 87, 39);
  --chart-1: rgb(202, 77, 22);
  --chart-2: rgb(150, 125, 255);
  --chart-3: rgb(227, 219, 191);
  --chart-4: rgb(216, 205, 246);
  --chart-5: rgb(207, 74, 18);
  --sidebar: rgb(246, 245, 237);
  --sidebar-foreground: rgb(62, 62, 57);
  --sidebar-primary: rgb(228, 87, 39);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(236, 231, 217);
  --sidebar-accent-foreground: rgb(52, 52, 52);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(181, 181, 181);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: Geist Mono, ui-monospace, monospace;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(38, 38, 36);
  --foreground: rgb(198, 193, 179);
  --card: rgb(38, 38, 36);
  --card-foreground: rgb(251, 250, 244);
  --popover: rgb(48, 48, 46);
  --popover-foreground: rgb(230, 230, 225);
  --primary: rgb(243, 106, 61);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(251, 250, 244);
  --secondary-foreground: rgb(48, 48, 46);
  --muted: rgb(27, 27, 25);
  --muted-foreground: rgb(186, 183, 166);
  --accent: rgb(29, 28, 22);
  --accent-foreground: rgb(246, 245, 237);
  --destructive: rgb(255, 52, 52);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(63, 63, 55);
  --input: rgb(84, 82, 72);
  --ring: rgb(243, 106, 61);
  --chart-1: rgb(202, 77, 22);
  --chart-2: rgb(150, 125, 255);
  --chart-3: rgb(29, 28, 22);
  --chart-4: rgb(43, 37, 78);
  --chart-5: rgb(207, 74, 18);
  --sidebar: rgb(31, 30, 29);
  --sidebar-foreground: rgb(198, 193, 179);
  --sidebar-primary: rgb(52, 52, 52);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(27, 27, 24);
  --sidebar-accent-foreground: rgb(198, 193, 179);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(181, 181, 181);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: Geist Mono, ui-monospace, monospace;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}